body{
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: white ; 
    font-style: normal; 
    padding-bottom: 4rem; 
    padding-top: 3rem;
}
.nav{
    text-align: center; 
    box-sizing: border-box; 
    background-color: hwb(258 12% 16%); 
    width: 40%; 
    margin-left: 22rem; 
    border-radius: 20px;
}
form{
    padding-bottom: 5rem; 
    color:white
}
input{
    padding: .7rem .5rem;
    margin-bottom: 2.2rem;
    border: none;
}
button{
    background-color: blue;
    border-radius: 30px; 
    color: white; 
    padding: .7rem 1.5rem;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    border: none;